table {
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

td, table{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 50px;
}